<!DOCTYPE html>
<html ng-app="WordcountApp">
  <head>
    <title>K-Means Clustering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }

      img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;
      }

      img:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
    </style>
  </head>
  <body ng-controller="WordcountController">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>K-Means Clustering</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" ng-model="url" required>
              <input type="text" name="path" class="form-control" id="path-box" placeholder="Enter Path..." style="max-width: 300px;" ng-model="path" required>
              <input type="text" name="range_start" class="form-control" id="range-start-box" placeholder="Enter Cluster number(from)..." style="max-width: 300px;" ng-model="range_start" required>
              <input type="text" name="range_end" class="form-control" id="range-end-box" placeholder="Enter Cluster number(to)..." style="max-width: 300px;" ng-model="range_end" required>
              <input type="radio" name="mode" value="silhouette_analysis" checked="checked" ng-model="mode">Silhouette Analysis
              <input type="radio" name="mode" value="elbow_analysis" ng-model="mode">Elbow Analysis
              <input type="radio" name="mode" value="cluster" ng-model="mode">Clustering
            </div>
          {% raw %}
            <button type="submit" class="btn btn-primary"
            ng-disabled="loading">{{ submitButtonText }}</button>
          {% endraw %}
          </form>
          <div>
            <br>
            <a target="_blank" href="static/usage.png">
              <span>How to use it?</span>
            </a>
          </div>
          <div class="alert alert-danger" role="alert" ng-show='urlerror'>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span>There was an error submitting your URL.<br>
            Please check to make sure it is valid before trying again.</span>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2>Results With Visualization</h2>
          <br>
          <div id="results">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cluster Number</th>
                  <th>Silhouette Scores</th>
                  <th>Silhouette Analysis Plot</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr>-->
                  <!--<td>5</td>-->
                  <!--<td>-->
                    <!--<a target="_blank" href="cluster_5.png">-->
                      <!--<img src="static/cluster_5.png" alt="Cluster number 5" style="width:150px">-->
                    <!--</a>-->
                  <!--</td>-->
                <!--</tr>-->
                {% raw %}
                <tr ng-repeat="(key, val) in wordcounts">

                  <td>{{key}}</td>
                  <td>{{val}}</td>
                  <td>
                    <a target="_blank" href="static/cluster_{{key}}.png">
                      <img src="static/cluster_{{key}}.png" alt="Cluster number {{key}}" style="width:150px">
                    </a>
                  </td>
                </tr>
                {% endraw %}
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cluster Number Range</th>
                  <th>Elbow Analysis Plot</th>
                </tr>
              </thead>
              <tbody>
                {% raw %}
                <tr>
                  <td>{{cluster_range}}</td>
                  <td>
                    <a target="_blank" href="static/elbow_analysis_{{cluster_range}}.png">
                      <img src="static/elbow_analysis_{{cluster_range}}.png" alt="Elbow Analysis {{cluster_range}}" style="width:150px">
                    </a>
                  </td>
                </tr>
                {% endraw %}
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Group Number</th>
                  <th>WordCloud</th>
                  <th>Word List</th>
                  <th>Clustering Result</th>
                </tr>
              </thead>
              <tbody>
                {% raw %}
                <tr ng-repeat="(num, list) in wordresults">
                  <td>{{num}}</td>
                  <td>
                    <a target="_blank" href="static/wordcloud_{{num}}.png">
                      <img src="static/wordcloud_{{num}}.png" alt="Wordcloud {{num}}" style="width:150px">
                    </a>
                  </td>
                  <td>{{list}}</td>
                  <td>
                    <a target="_blank" href="static/clustering_result_{{num}}.txt">cluster {{num}}</a>
                  </td>
                </tr>
                {% endraw %}
              </tbody>
            </table>

          </div>
          <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static',
          filename='spinner.gif') }}" ng-show="loading">
        </div>
      </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>